.sidebar-bg {
  background: linear-gradient(
    180deg,
    #a51e24 100%
  );
  color: #ffffff;
}

/* nav link ปกติ */
.sidebar-bg .nav-pills .nav-link {
  color: rgba(255,255,255,0.9) !important;
  border-radius: 12px;
  padding: 10px 14px;
  margin-bottom: 6px;

  transition: 
    background 0.25s ease,
    transform 0.15s ease;
}

/* hover = gold flat */
.sidebar-bg .nav-pills .nav-link:hover {
  background: linear-gradient(
    135deg,
    #f6e27f,
    #dbb262
  );
  color: #4b0c10 !important;

  transform: translateX(2px);
}

/* active = modern luxury gold (no glow) */
.sidebar-bg .nav-pills .nav-link.active-gold {
  background: linear-gradient(
    135deg,
    #f6e27f,
    #dbb262,
    #caa44a
  );
  color: #4b0c10 !important;
  font-weight: 600;
  border-radius: 14px;
}

/* icon */
.sidebar-bg .nav-pills .nav-link i {
  opacity: 0.9;
}

/* .bg-gold {
  background: linear-gradient(
    135deg,
    #f6e27f,
    #dbb262,
    #caa44a
  ) !important;
  color: #4b0c10 !important;
} */

.bg-gold {
  background: #f6e27f !important;
  color: #4b0c10 !important;
  border-bottom: 2px solid #caa44a;
}
.bg-sukishi {
  background: linear-gradient(
    180deg,
    #a51e24 100%
  );
  color: #ffffff;
}
.btn-sukishi {
  background: linear-gradient(
    180deg,
    #a51e24 100%
  );
  color: #ffffff;
}

.form-check-input:checked {
    background-color: #a51e24;
    border-color: #a51e24;
}

.form-check-input:focus {
    border-color: #a51e24;
    box-shadow: 0 0 0 0.25rem rgba(165, 30, 36, 0.25);
}